body {
    margin: 0;
    padding: 0;
    border: 0;
}

.div_pai {
    background-color: black;
    height: 100px;
}

ul {
    list-style: none;
    display: inline;
}

ul li {
    font-size: large;
    color: white;
    display: inline;
    margin-left: 30px;
}

nav {
    max-width: 1900px;
    margin-left: 100px;
    padding-top: 35px;
}

#projeto_cabecalho {
    color: orange;
    font-size: xx-large;
}

#iot_cabecalho {
    color: white;
    font-size: xx-large;
}

#home {
    color: orange;  
    /* margin-left: 1000px;  */
    margin-left: 50%; 
}

.but_email {
    border: solid 2px;
    border-color: orange;
    height: 30px;
    background-color: orange;
    color: white;
}

.atualizacao {
    font-size: 35px;
    color: white;
}

.div_atualizacoes {
    background-color: black;
    height: 100px;
}

.input_atualizacao {
    margin-left: 54%;
    height: 25px;
}

#div_separacao {
    height: 5px;
    background-color: orange;
}

